$main-color: #422242;
$header-color: #5A3D5D;
$button-color: #725A72;
$input-color: #D0C8D0;

@font-face {
    font-family: lato;
    src: local('font/lato/Lato.-Regular.ttf');
}

.start-game {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 65px;
}

.start-title {
    font-family: lato;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-button {
    height: 375px;
    width: 465px;
    background-color: $button-color;
    border: none;
    border-radius: 20px;
    font-size: 80px;
    margin: 10px;
    color: white;
    font-family: lato;
}

@media screen and (max-width: 600px) {
    .satrt-game {
        padding-top: 30px;
    }

    .start-title {
        font-size: 26px;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .game-button {
        height: 145px;
        width: 220px;
        font-size: 36px;
        margin: 8px;
        border-radius: 7px;
    }
} 